<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/main.css">
	<title>Dash</title>
</head>

<body>

	<div class="content">
		<ul class="breadcrumbs">
			<li> <a href="/"> Dash</a> </li>
			<li> / </li>
			<li> <a href="/students">Students</a> </li>
			<li> / </li>
			<li> Update </li>
		</ul>
		<h1>
			<h1> Edit <%- student.Stu_FName %> <%- student.Stu_LName %> </h1>
			<h3>
				<%= message %>
					<form method="post" class="edit_form">

						<label for="course">Update Course: </label>
						<select class="form-control" name="Stu_Course" id="course" required>
							<% courses.forEach( course => { %>
								<option value="<%= course.Crs_Code %>"
									<%=course.Crs_Code===student.Stu_Course
									? 'selected' : "" %>>

									<%= course.Crs_Title %>
								</option>
								<% }) %>
						</select></p>
						<p> <label for="Stu_Phone"> Update Phone: </label> <input type="tel"
								value="<%= student.Stu_Phone %>" name="Stu_Phone"
								required></p>
						<input type="submit" value="Update">


					</form>
		</h1>

	</div>

</body>

</html>