<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/main.css">
	<title>Dash</title>
</head>

<body>

	<div class="content">
		<ul class="breadcrumbs">
			<li> <a href="/"> Dash</a> </li>
			<li> / </li>
			<li> Students </li>
		</ul>
		<h1> Students </h1>

		<section class="dataTable">
			<table class="data">
				<tr>
					<th>Student ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th> DOB </th>
					<th> Gender </th>
					<th> Phone </th>
					<th>Course</th>
					<th> Type </th>
					<th> Actions </th>
				</tr>
				<tr>
					<% students.forEach(student=> { %>
				<tr>
					<td><%- student.URN %></td>
					<td><%- student.Stu_FName %></td>
					<td><%- student.Stu_LName %></td>
					<td><%- student.Stu_DOB %></td>
					<td><%- student.Stu_Gender %></td>
					<td><%- student.Stu_Phone %></td>
					<td><%- student.Crs_Title %></td>
					<td><%- student.Stu_Type %></td>
					<td><a href="/students/edit/<%- student.URN %>"> Edit </a> <a
							href="/students/view/<%- student.URN %>"> View </a></td>
				</tr>
				<% }) %>
					</tr>





			</table>
		</section>
	</div>

</body>

</html>